/* Base styles */
body{
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: grid;
    grid-template-areas:
      "sidebar navbar"
      "sidebar main";
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    height: 100vh;
  }

/* Sidebar */
.sidebar{
    grid-area: sidebar;
    background-color: #1992d4;
    color: #ffffff;
}

/* Navbar */
.navbar{
    grid-area: navbar;
    background-color: #ffffff;
}

/* Main */
.main{
    grid-area: main;
    background-color: #e2e8f0;
}